::ng-deep :root {
  --row-gap: 15px;
}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: var(--row-gap);
}
@media (min-width:320px)  { .grid-container {
  display: grid;
  grid-template-columns: auto ;

  row-gap: var(--row-gap);
} }
@media (min-width:481px)  { .grid-container {
  display: grid;
  grid-template-columns: auto auto ;

  column-gap: 2px;
  row-gap: var(--row-gap);
}}
@media (min-width:641px)  { .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  column-gap: 5px;
  row-gap: var(--row-gap);
}}
@media (min-width:961px)  { .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;

  column-gap: 7px;
  row-gap: var(--row-gap);
} }
@media (min-width:1025px) {.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  column-gap: 10px;
  row-gap: var(--row-gap);
} }
@media (min-width:1281px) { .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  column-gap: 10px;
  row-gap: var(--row-gap);
}}

